params {
	bind_path = "/expanse/lustre/projects/ddp195/eiovino/sv_pipeline_nf"
}

process {
        queueSize = 4
        submitRateLimit = '4/60min'
        errorStrategy = 'retry'
        maxRetries = 1 
        executor = 'slurm'
        clusterOptions = '--account ddp195 --time 00:08:00 --cpus-per-task 4 --mem=8G --partition ind-shared --ntasks 1 --nodes 1'
        //withName:samtools_test {
        //        container = "staphb/samtools:1.15"
        //}
        withName:runManta {
                container = "dceoy/manta:latest"
        }
	withName:runDelly {
                container = "j3guevara/delly:v1.0.3"
        }
	withName:runSmoove {
                container = "brentp/smoove:latest"
        }
	withName:runSurvivor{
		container = "mgibio/survivor-cwl:1.0.6.2"
        }
	withName:runExpansionHunter{
                container = "weisburd/expansion-hunter:latest"
        }
        withName:mosdepth{
                container = "quay.io/biocontainers/mosdepth:0.3.3--h37c5b7d_2"
        }
        withName:manta_post_processing{
   		container = "staphb/bcftools:latest"
        }
       withName:post_processing_delly{
                container = "staphb/bcftools:latest"
       }
       withName:python_delly{
                container = "quay.io/biocontainers/pysam:0.19.0--py27hc2126ed_0"
       }
       withName:post_processing_smoove{
                container = "staphb/bcftools:latest"
       }
}

singularity {
        enabled = true
	autoMounts = true
	runOptions = "--bind ${params.bind_path}"
	// runOptions = "--bind /expanse/lustre/projects/ddp195/eiovino/sv_pipeline_nf"
}
dag {
    enabled = true
    file = 'pipeline_dag.pdf'
}
