executor {
    name = 'slurm'
    pollInterval = '30 sec'
    queueSize = 4
    submitRateLimit = '4/2min'
   //errorStrategy = 'ignore'
    maxRetries = 1
    retry.maxDelay = '10min'
    retry.delay = '5min'
}

process {
    errorStrategy = "ignore"
    clusterOptions = '--account ddp195 --time 08:00:00 --cpus-per-task 4 --mem 20G --partition ind-shared --ntasks 1 --nodes 1'
    withName:runManta {
        container = "dceoy/manta:latest"
    }
	withName:runDelly {
        container = "j3guevara/delly:v1.0.3"
    }
	withName:runSmoove {
        container = "brentp/smoove:latest"
    }
	withName:runSurvivor {
		container = "mgibio/survivor-cwl:1.0.6.2"
    }
    withName:mosdepth {
        container = "quay.io/biocontainers/mosdepth:0.3.3--h37c5b7d_2"
    }
    withName:manta_post_processing {
        container = "staphb/bcftools:latest"
    }
    withName:post_processing_delly {
        container = "staphb/bcftools:latest"
    }
    withName:python_delly {
        container = "quay.io/biocontainers/pysam:0.19.0--py27hc2126ed_0"
    }
    withName:post_processing_smoove{
        container = "staphb/bcftools:latest"
    }
}

singularity {
    enabled = true
	autoMounts = true
	runOptions = "--bind ${params.bind_path}"
}

dag {
    enabled = true
}

report {
    enabled = true
}

timeline {
    enabled = true
}

trace {
    enabled = true
}
